@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Rubik');

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #808ba1;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

}
.wrapper {
	margin-top: 0px;
}
h1 h2 h3 h4 h5 h6 {
	color: #808ba1;
	font-family: "Rubik";
	font-weight: 300;
}
h1 {
	font-family: "Rubik";
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 400;
	color: #2d4775;
}
h2 {
	font-size: 25px;
	color: #555;
	font-weight: 600;
}
h3 {
	font-size: 20px;
	color: #555;
	

}
h4 {
	font-size: 15px;
	color: #555;
}

p {
	font-size: 20px;
	color: #555;
	margin-bottom: 40px;
	line-height: 1.5
}
li {
	color: #555;
	font-size: 20px;
}
.centered {
	text-align: center;
}
.lefted {
	text-align: left;
}
.righted {
	text-align: right;
}
#code {
	
	text-align: left;
}
#center-header {
	padding-left: 45px;
	padding-right: 45px;
}

a {
	color: #2d4775
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

#header
{
	background: url(images/landing/1-section-bg.jpg) no-repeat center top;
	text-align: center;
	background: relative;
	background-size: 100%; 
	margin-top: -10px;
	min-height: 700px;
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
}
#center-header {
	min-height: 700px;
}
#scrollMore {
	margin-top: 150px;
}
#menu {
	background: url(images/landing/side.png) center top;
	min-height: 700px;
}
#menu h2 {
	padding-top: 10px; 
}
.menu h2:hover {
	color: blue;
}

#header h1 
{

	margin-top: 60px;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#header h2
{
	font-size: 25px;
	color: black;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#header h3 {
	color: #808ba1;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#header a {
	color: #73df77;
}
.slogan {
	margin-top: 100px;
	color: white;
	font-family: 'Arsenal', sans-serif;
	font-size: 60px;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);

}

#map {
	background: url(images/landing/map.jpg) no-repeat center top;
	padding-top: 20px;
	background: relative;
	margin-top: -10px;
	min-height: 591px;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
}
#footer {
	background: url(images/landing/footer-bg.jpg) no-repeat center top;
	padding-top: 20px;
	background: relative;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	min-height: 200px;
	padding: 80px;
}
.mention-block 
{
	min-height: 400px;
	min-width: 800px;
}


.mentions img {
	width: 140px;
	height: auto;
}
.mentions .glyphicon {
	font-size: 50px;
}
.mentions {
	min-height: 600px;
	background-color: #eae9e9;
}
.info 
{
	background: url(images/landing/white-bg.jpg) center top; 
	min-height: 600px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.info h2 
{
	color: #555;
}

.large-icon .glyphicon {
	font-size: 100px;
	line-height: 200px;
	color: #2d4775;
}
.small-icon .glyphicon {
	font-size: 20px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.icon-center {
	display:table-cell
}
.warning 
{
	color: red;
}
.links {
	margin-top: 75px;
	color: white;
	vertical-align: center;
	font-size: 28px;
}
#menu a {
 	color: #808ba1;
}
#mapHint {
	font-size: 20px;
	color: #555;
	line-height: 1.5
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-caption {
	text-shadow: 0 0px 0px  rgba(0,0,0,0);
	font-weight: 600;
}
.glyphicon-chevron-left {
	color: #555;
}
.glyphicon-chevron-right {
	color: #555;
}
.carousel-caption {
	top: 40%;
	transform: translateY(-40%);
}
.carousel-caption {
	text-align:left;
}
.row img{
      
      margin: 0 auto; 
 }
 #image {
 	box-shadow: 0 0 20px 5px rgba(163, 163, 163, 1);
 }