body {
	color: black;
	font: 20px 'Times New Roman', sans-serif;
	background: #f9f9f9;
	#border-top: 5px solid #7e7e7e;
	margin: auto;
	height: 100%;
	
}

img {
	border: 0;
}

p {
	margin: 20px 0;
	margin-right: 20px;
}
a:link, a:visited {
    TEXT-DECORATION: none;
    /*color: #0000E0;*/
	color: #2d4775
}
hr {
	border: 1px solid rgb(218, 214, 214);
}
.title {
	text-align: center;
	color: #2d4775;
	font-size: 30px;

}
.header-title {
	text-align: center;
	color: #2d4775;
	font-weight: 500;
	font-size: 40px;
}
.sec-title {
	text-align: center;
	color: black;
	font-size: 35px;
	margin: 40px 20px 40px 20px;
}
.large-title {
	text-align: center;
	color: black;
	font-size: 55px;
	font-weight: 700;
	margin-top: 50px;
}
.sec-main-title {
	text-align: center;
	color: black;
	font-size: 20px;
}
.left-title {
	text-align: left;
	font-size: 30px;

} 


.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.date {
    text-align: right;
}
.input {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

.button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Times New Roman', sans-serif;
}

.image {
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}



figure img {
	display: block;
}

.wrapper {
	
	margin: auto;
	height: 100%;
}

header {
	padding: 0px 0;
	height: 200px;
	border-bottom: 3px solid;
	border-bottom-color: #f1f1f6;
	background-color: white;
	box-shadow: 0 0 10px 5px rgba(163, 163, 163, 1);

}

.main-heading {

	margin: 30px 0;
	padding-left: 20px;
	
}

.main-heading h1 {
	color: black;
	font: 40px/40px 'Times New Roman', sans-serif;
	margin: 0;
	padding: 0 10px;
}

aside {

	float: left;
	width: 338px;
	height: 100%;
	border-right: 3px solid;
	border-right-color: #f1f1f6;
	background-color: white;
	box-shadow: 6px 0 10px -2px rgba(163, 163, 163, 1);

}

aside + section {
	margin-left: 368px;
	padding-bottom: 50px;
	
}


footer {
	clear: both;
	font-size: 14px;
	height: 130px;
	border-top: 3px solid;
	border-color: #f1f1f6;
	background-color: white;
	background: url(images/footer-bg.jpg) center top;
	box-shadow: 0 0 50px 5px rgba(163, 163, 163, 1);
} 
.search-form {
	float: left;
	margin: 40px;
}




.aside-menu {
	
	margin: 0;
	padding: 0;
	padding-top: 30px;
	
}

.aside-menu a {
	padding-left: 60px;
	color: gray;
	font-weight: 500;
}
.aside-menu li.nav-section a{
	color: red;
	font: 20px 'Times New Roman', sans-serif, bold;
	font-weight: 800;
	pointer-events: none; /* делаем элемент неактивным для взаимодействия */
	cursor: default;
	padding-left: 30px;
	color: black;
	
	
}

.aside-menu li {
	
	font-weight: 300;
	list-style: square inside;
	font: 20px 'Times New Roman', sans-serif;
	font-weight: 300;
	list-style-type: none;
    padding: 6px;
	color: black;
	text-decoration: none;
}



.aside-menu li.current-menu-item,
.aside-menu li.current-menu-item a {
	color: #00BFFF;
}


.sidebar-heading {
	background: #29c5e6;
	font: 14px 'Times New Roman', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
	
}

.footer-content {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}


footer a {
	color: #dbdbdb;
}

footer p {
	margin: 5px 0;
}


.sitemap {
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

.sitemap .column {
	display: inline-block;
	margin-left: 60px;
}

.main-page-blocks {
	margin-left: 50px;
	padding-right: 50px;
	
}
.main-page-post {
	margin-left: 50px;
	padding-right: 50px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.main-page-blocks .block-column {
	width: 300px;
	height: 300px;
	display: inline-table;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: white;
	border: 2px solid;
	border-color: #f1f1f6;
	text-align: center;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.block-column p {
	margin: 5px;
	margin-right: 5px;
	color: black;
}
.main-page-blocks .column {
	margin-left: 20px;
	
	text-align: left;
	display: inline-table;
}
.post-container {
	margin-right: 50px;
	margin-left: 30px;
}
.block {
	display: inline-block;
	margin-left: 60px;
}
.post-block {
	text-align: center;
	display: block;
	min-width: 400px;
	border: 2px solid;
	border-color: #f1f1f6;
	background-color: white;
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 5px 25px 3px rgba(36, 36, 36, 1);
	/*box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);*/
}
.post-block p {
	text-align: left;
}
.post-block a {
	color: #2d4775

}
.person-block {
	height: 300px;
	display: inline-table;
	border: 1px solid;
	border-color: #666666;
	/*border: 2px solid;
	border-color: #f1f1f6;*/
	background-color: white;
	margin: 20px;
	margin-right: 40px;
	width: 95%;
	box-shadow: 0 2px 10px 2px rgba(36, 36, 36, 1);
}

.collective {
	float: left;
	width: 214px ;
	height: 300px;
	margin-right: 20px;
}
.person-name {
	font: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #2d4775;
}
.links {
	display: inline;
}
.links a {
	margin-right: 10%;
}
.icon  {
	height: 20px;
	width: 20px;
}
.main-page-image {
	display: inline-table;
	border: 1px solid;
	border-color: black;
	box-shadow: 0px 0px 30px 2px rgba(50,50,50, 1)
}
#myCarousel {
	margin-right: 20px;
}

.input {
	width: 80%;
}
.history-img {
	margin: 20px;
}
.glyphicon {
	color: black;
}
.block-404 {
	display: -webkit-inline-box;
    margin: 20px;
}
.certificate {
	margin: 10px;
	box-shadow: 0px 2px 20px 2px rgba(50,50,50, 1)
}


