@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Rubik');

body {
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #808ba1;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

}
.wrapper {
	margin-top: 0px;
}
h1 h2 h3 h4 h5 h6 {
	color: #808ba1;
	font-family: "Rubik";
	font-weight: 300;
}
h1 {
	font-family: "Rubik";
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 400;
	color: #2d4775;
}
h2 {
	font-size: 25px;
	color: #555;
	font-weight: 600;
}
h3 {
	font-size: 20px;
	color: #555;

}
h4 {
	font-size: 15px;
	color: #555;
}

p {
	font-size: 20px;
	color: #555;
	margin-bottom: 40px;
	line-height: 1.5
}
.centered {
	text-align: center;
}
.lefted {
	text-align: left;
}
.righted {
	text-align: right;
}
#code {
	
	text-align: left;
}
#center-header {
	padding-left: 85px;
	padding-right: 85px;
}

a {
	color: #2d4775
}

a:hover, a:focus {
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}

#header
{
	background: url(images/landing/1-section-bg.jpg) no-repeat center top;
	padding-top: 20px;
	text-align: center;
	background: relative;
	background-size: 100%; 
	margin-top: -10px;
	min-height: 591px;
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
}
#header h1 
{

	margin-top: 160px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
#header h2
{
	color: white;
}
#header h3 {
	color: #808ba1;
}
#header a {
	color: #73df77;
}
#map {
	background: url(images/landing/map.jpg) no-repeat center top;
	padding-top: 20px;
	background: relative;
	margin-top: -10px;
	min-height: 591px;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
}
#footer {
	background: url(images/landing/footer-bg.jpg) no-repeat center top;
	padding-top: 20px;
	background: relative;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	min-height: 200px;
	padding: 80px;
}
.mention-block 
{
	min-height: 400px;
	min-width: 800px;
}
#menu {
	margin-top: 200px;
}

.mentions img {
	width: 140px;
	height: auto;
}
.mentions .glyphicon {
	font-size: 50px;
}
.mentions {
	min-height: 600px;
	background-color: #eae9e9;
}
.info 
{
	margin-top: 60px;
	margin-bottom: 100px;
	min-height: 600px;
}
.info h2 
{
	color: #555;
}

.large-icon .glyphicon {
	font-size: 100px;
	line-height: 200px;
	color: #2d4775;
}
.small-icon .glyphicon {
	font-size: 20px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.icon-center {
	display:table-cell
}
.warning 
{
	color: red;
}
.links {
	margin-top: 75px;
	color: white;
	vertical-align: center;
	font-size: 28px;
}
#menu a {
 	color: #808ba1;
}
#mapHint {
	font-size: 20px;
	color: #555;
	line-height: 1.5
}